*
	box-sizing: border-box
	margin: 0
	padding: 0

.mobilisf
	width: 100%
	margin: 0 auto


.wrap
	width: 100vw
	height: 100vh
	background: #FBFCFB
	margin-bottom: 10px


#particles-js 
	position: absolute
	width: 100%
	height: 100%
	background-color: transparent
	background-image: url("")
	background-repeat: no-repeat
	background-size: cover
	background-position: 50% 50%

//Space wrapper
.wrapper
	overflow: hidden
	position: relative
	margin: 0 auto
	height: 100vh
	width: 100vw

	&__space
		height: 139vh
		width: 125vw
		background: url('../images/header-space2.png')
		background-size: cover
		background-color: rgba(255, 255, 0, .5)
		animation: rotate-in-center 80s cubic-bezier(.25,.46,.45,.94) both
		z-index: 1


	&__gradient
		position: absolute
		left: 0
		bottom: 0
		height: 20vh
		width: 100%
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
		z-index: 2

	&__ground
		position: absolute
		bottom: 0
		background: url('../images/landscape.svg')  linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
		background-size: cover
		height: 53vh
		width: 100vw
		z-index: 3
		filter: contrast(0.85)

	&__header
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		position: absolute
		z-index: 4

// Header navbar with logo and languages
.header-upper
	display: flex
	justify-content: space-around
	align-items: center
	height: 7vh
	width: 100vw
	margin-top: 20px
	font-family: 'Lato', sans-serif
	text-transform: uppercase
	color: #fff
	//background: rgba(0,0,0,.3)

	&__logo
		display: flex
		justify-content: space-around
		align-items: center

	&__logo-name
		display: flex
		align-items: center
		margin: 0 5px 0 0
		font:
			family: 'Lato', sans-serif
			size: 1.2em
		letter-spacing: 0.15rem


	&__logo-brackets
		display: flex
		align-items: center
		padding: 7px 0 0 0
		font:
			family: 'Kalam', cursive
			weight: 400
			size: 1.75em
		letter-spacing: 0.1rem

	&__logo-brackets:before
		content: "   ["
		color: #F1A52E
		font-size: 1.1em

	&__logo-brackets:after
		content: "]"
		color: #F1A52E
		font-size: 1.1em


	&__menu
		display: flex
		justify-content: space-around
		width: 500px
		font-size: 1.2em
		letter-spacing: 0.15rem

	&__menu a
		color: #ffffff
		text-decoration: none
		padding: 10px 10px 5px 10px

	&__menu a:hover
		border-bottom: 2px solid #FFA30F


//Welcome box
.header-welcome
	width: 90vw
	height: auto
	margin:  25vh 0 0 0

	& p
		visibility: hidden
		text-align: center
		margin: 0 0 20px -250px

.tw-span
	padding: 20px 30px
	background: rgba(0,0,0,.3)

.tw-content
	font-family: 'Lato', sans-serif
	color: #fff
	letter-spacing: 0.1rem
	font-weight: 300
	font-size: 1.8em
	filter: contrast(1.2)

	&:after
		content: "|"
		color: #ffffff
		visibility: visible
		animation: caretFade 0.65s ease infinite

.tw-header
	padding: 30px

	&-title
		text-align: center
		font-family: 'Lato', sans-serif
		color: #ffffff
		font-weight: 400
		font-size: 3.5em
		letter-spacing: 0.4rem
		text-transform: uppercase
		white-space: nowrap
		opacity: 0

		&:after
			content: "."
			color: #FF9D00
			font-size: 80px
			margin-left: 10px
			line-height: 0

@keyframes caretFade
	from 
		opacity: 1
	to
		opacity: 0


@keyframes rotate-in-center
	0%
		position: absolute
		top: 45%
		left: 50%
		transform: translate(-50%, -50%) rotate(-10deg)
		opacity: 0.9
		transform-origin: bottom
	100%
		position: absolute
		top: 45%
		left: 50%
		transform: translate(-50%, -50%) rotate(10deg)
		opacity: 0.9
		transform-origin: bottom



// A B O U T

.wrapper-color
	width: 100vw
	height: 100vh
	padding: 10px
	background: url('../images/sprite.png')


.about
	
	&-logo
		display: flex
		align-items: center
		justify-content: center
		padding: 20px 0 10px 0
		text-align: center


	.left-line,
	.right-line
		position: absolute
		top: 64px
		width: 42%
		height: 64px
		border-top: 1px solid #000000

	.left-line__triangle,
	.right-line__triangle
		position: absolute
		top: -9px
		width: 0
		height: 0
		border-top: 8px solid transparent
		border-bottom: 8px solid transparent
		backrgound: red

	.left-line
		left: 0

		&__triangle
			right: -16px
			border-right: 16px solid black
	
	.right-line
		right: 0

		&__triangle
			left: -16px
			border-left: 16px solid black

	.fa-grav
		color: #FF4C5E
		opacity: 0.8
		margin: 0 20px 0 20px
		animation: text-flicker-in-glow 5s linear both

	&-subtitle
		text-align: center
		padding: 20px 0 20px 0
		font:
			size: 16px
		color: #788082
		letter-spacing: 0.1rem
		text-transform: uppercase


	&-title
		text-align: center
		padding: 5px 0 30px 0
		font:
			family: 'Fredericka the Great', cursive
			size: 50px
		letter-spacing: 0.2rem
		color: #000
		text-transform: uppercase


	&-content
		display: flex

	.text-box
		position: absolute
		height: 500px
		width: 42%
		margin: 0 0 0 7.5%
		background: rgba(0,0,0,.005)

	.text
		font-size: 26px
		padding: 50px 80px
		font-family: 'Mada', sans-serif
		font-weight: 400
		color: #ffffff
		letter-spacing: 0.03rem
		line-height: 2.2rem





.box-img
	height: 500px
	width: 85%
	margin: 0 auto
	overflow: hidden
	filter: grayscale(1)

.box-img-filter
	filter: grayscale(0)
	transition-duration: 1.4s

.my-img
	height: 500px
	width: 100%
	margin: 0 auto
	background: url('../images/me.png') 
	background-size: cover

.my-img-anim
	animation: kenburns-right 3s ease-out both

.img-cover
	height: 500px
	width: 80%
	background: linear-gradient(to right, rgba(72,87,102,0.65) 0%,rgba(31,37,44,0) 57%,rgba(0,0,0,0) 100%)




@keyframes text-flicker-in-glow
  0%
    opacity: 0
  10%
    opacity: 0
    text-shadow: none
  10.1%
    opacity: 1
    text-shadow: none
  10.2%
    opacity: 0
    text-shadow: none
  20%
    opacity: 0
    text-shadow: none
  20.1%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.25)
  20.6%
    opacity: 0
    text-shadow: none
  30%
    opacity: 0
    text-shadow: none
  30.1%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.45), 0 0 60px rgba(109, 123, 124, 0.25)
  30.5%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.45), 0 0 60px rgba(109, 123, 124, 0.25)
  30.6%
    opacity: 0
    text-shadow: none
  45%
    opacity: 0
    text-shadow: none
  45.1%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.45), 0 0 60px rgba(109, 123, 124, 0.25)
  50%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.45), 0 0 60px rgba(109, 123, 124, 0.25)
  55%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.45), 0 0 60px rgba(109, 123, 124, 0.25)
  55.1%
    opacity: 0
    text-shadow: none
  57%
    opacity: 0
    text-shadow: none
  57.1%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.55), 0 0 60px rgba(109, 123, 124, 0.35)
  60%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.55), 0 0 60px rgba(109, 123, 124, 0.35)
  60.1% 
    opacity: 0
    text-shadow: none
  65%
    opacity: 0
    text-shadow: none
  65.1%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.55), 0 0 60px rgba(109, 123, 124, 0.35), 0 0 100px rgba(109, 123, 124, 0.1)
  75%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.55), 0 0 60px rgba(109, 123, 124, 0.35), 0 0 100px rgba(109, 123, 124, 0.1)
  75.1%
    opacity: 0
    text-shadow: none
  77%
    opacity: 0
    text-shadow: none
  77.1%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.55), 0 0 60px rgba(109, 123, 124, 0.4), 0 0 110px rgba(109, 123, 124, 0.2), 0 0 100px rgba(109, 123, 124, 0.1)
  85%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.55), 0 0 60px rgba(109, 123, 124, 0.4), 0 0 110px rgba(109, 123, 124, 0.2), 0 0 100px rgba(109, 123, 124, 0.1)
  85.1%
    opacity: 0
    text-shadow: none
  86%
    opacity: 0
    text-shadow: none
  86.1%
    opacity: 1
    text-shadow: 0 0 30px rgba(109, 123, 124, 0.6), 0 0 60px rgba(109, 123, 124, 0.45), 0 0 110px rgba(109, 123, 124, 0.25), 0 0 100px rgba(109, 123, 124, 0.1)
  100%
    opacity: 1
    text-shadow: 0 0 50px rgba(109, 123, 124, 0.5), 0 0 80px rgba(109, 123, 124, 0.25), 0 0 130px rgba(109, 123, 124, 0.25), 0 0 120px rgba(109, 123, 124, 0.1)




@keyframes kenburns-right
	0%
		transform: scale(1) translate(0,0)
		transform-origin: 84% 84%
	100%
		transform: scale(1.1) translate(20px,15px)
		transform-origin: right



// S K I L L S

.wrapper-skills
	height: 100vh
	width: 100vw
	padding: 20px
	background: url('../images/skills.png')
	background-size: cover
	opacity: 1


.skills-header
	//display: flex
	//flex-direction: column
	//width: 30%
	height: 300px
	margin: 0 auto

	&__one
		display: inline-block
		//width: auto
		padding: 0 20px
		background: #ffffff
		p
			font:
				family: 'Titillium Web', sans-serif
				size: 27px
			color: #070e13
	

	&__two
		margin: 0 0 0 160px
		font:
			family: 'Titillium Web', sans-serif
			size: 36px
		text-transform: uppercase

	&__three
		margin: -10px 0 0 -50px
		font:
			family: 'Titillium Web', sans-serif
			size: 170px
			weight: 900
		letter-spacing: 10px
		//color: #ff3600
		text-transform: uppercase
		//text-shadow: 0px 0px 8px rgba(255, 54, 0, 0.6)
		//background: linear-gradient(45deg, #e10019, #ff3600)
		//background-clip: text
		//text-fill-color: transparent
		//background: #e10019
		//background: -moz-linear-gradient(45deg, #e10019, #ff3600)
		//background: -o-linear-gradient(45deg, #e10019, #ff3600)
		background: linear-gradient(45deg, #e10019, #ff3600)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent















