*
	box-sizing: border-box
	margin: 0
	padding: 0

.mobilisf
	width: 100%
	margin: 0 auto


.wrap
	width: 100vw
	height: 100vh
	//background: grey
	margin-bottom: 10px


#particles-js 
	position: absolute
	width: 100%
	height: 100%
	background-color: transparent
	background-image: url("")
	background-repeat: no-repeat
	background-size: cover
	background-position: 50% 50%

//Space wrapper
.wrapper
	overflow: hidden
	position: relative
	margin: 0 auto
	height: 100vh
	width: 100vw

	&__space
		background: url('../images/header-space2.png')
		background-size: cover
		background-color: rgba(255, 255, 0, .5)
		height: 125vh
		width: 125vw
		animation: rotate-in-center 80s cubic-bezier(.25,.46,.45,.94) both
		z-index: 1


	&__gradient
		position: absolute
		left: 0
		bottom: 12vh
		height: 14vh
		width: 100%
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
		z-index: 2

	&__ground
		position: absolute
		bottom: 0
		background: url('../images/header-ground2.png')
		background-size: cover
		height: 25vh
		width: 100vw
		z-index: 3

	&__header
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		position: absolute
		z-index: 4

// Header navbar with logo and languages
.header-upper
	display: flex
	justify-content: space-around
	align-items: center
	height: 7vh
	width: 100vw
	margin-top: 20px
	font-family: 'Lato', sans-serif
	text-transform: uppercase
	color: #fff
	//background: rgba(0,0,0,.3)

	&__logo
		display: flex
		justify-content: space-around
		align-items: center

	&__logo-name
		display: flex
		align-items: center
		margin: 0 5px 0 0
		font:
			family: 'Lato', sans-serif
			size: 1.2em
		letter-spacing: 0.15rem


	&__logo-brackets
		display: flex
		align-items: center
		padding: 7px 0 0 0
		font:
			family: 'Kalam', cursive
			weight: 400
			size: 1.75em
		letter-spacing: 0.1rem

	&__logo-brackets:before
		content: "   ["
		color: #F1A52E
		font-size: 1.1em

	&__logo-brackets:after
		content: "]"
		color: #F1A52E
		font-size: 1.1em


	&__menu
		display: flex
		justify-content: space-around
		width: 500px
		font-size: 1.2em
		letter-spacing: 0.15rem

	&__menu a
		color: #ffffff
		text-decoration: none
		padding: 10px 10px 5px 10px

	&__menu a:hover
		border-bottom: 2px solid #FFA30F


//Welcome box
.header-welcome
	width: 90vw
	height: auto
	margin:  25vh 0 0 0

	& p
		visibility: hidden
		text-align: center
		margin: 0 0 20px -250px

.tw-span
	padding: 20px 30px
	background: rgba(0,0,0,.3)



.tw-content
	font-family: 'Lato', sans-serif
	color: #fff
	letter-spacing: 0.1rem
	font-weight: 300
	font-size: 1.8em
	filter: contrast(1.2)

	&:after
		content: "|"
		color: #ffffff
		visibility: visible
		animation: caretFade 0.65s ease infinite

.tw-header
	padding: 30px

	&-title
		text-align: center
		font-family: 'Lato', sans-serif
		color: #ffffff
		font-weight: 400
		font-size: 3.5em
		letter-spacing: 0.4rem
		text-transform: uppercase
		white-space: nowrap
		opacity: 0

		&:after
			content: "."
			color: #FF9D00
			font-size: 80px
			margin-left: 10px
			line-height: 0

@keyframes caretFade
	from 
		opacity: 1
	to
		opacity: 0


@keyframes rotate-in-center
	0%
		position: absolute
		top: 45%
		left: 50%
		transform: translate(-50%, -50%) rotate(-10deg)
		opacity: 0.9
		transform-origin: bottom
	100%
		position: absolute
		top: 45%
		left: 50%
		transform: translate(-50%, -50%) rotate(10deg)
		opacity: 0.9
		transform-origin: bottom

// A B O U T



.wrapper-color
	width: 100vw
	height: 100vh
	padding: 10px
	background: url('../images/sprite.png')


.about
	
	&-logo
		display: flex
		align-items: center
		justify-content: center
		padding: 20px 0 10px 0
		text-align: center

	.left-line,
	.right-line
		position: absolute
		top: 64px
		width: 42%
		height: 64px
		border-top: 1px solid #000000

	.left-line__triangle,
	.right-line__triangle
		position: absolute
		top: -9px
		width: 0
		height: 0
		border-top: 8px solid transparent
		border-bottom: 8px solid transparent
		backrgound: red

	.left-line
		left: 0

		&__triangle
			right: -16px
			border-right: 16px solid black
	
	.right-line
		right: 0

		&__triangle
			left: -16px
			border-left: 16px solid black





	.fa-grav
			color: #FF4C5E
			opacity: 0.8
			margin: 0 20px 0 20px

	&-subtitle
		text-align: center
		padding: 10px 0 10px 0
		font:
			size: 16px
		color: #788082
		letter-spacing: 0.1rem
		text-transform: uppercase

	&-title
		text-align: center
		padding: 5px 0 30px 0
		font:
			family: 'Fredericka the Great', cursive
			size: 50px
		letter-spacing: 0.2rem
		color: #000
		text-transform: uppercase

	&-content
		display: flex

	.text-box
		position: absolute
		height: 500px
		width: 42%
		margin: 0 0 0 7.5%
		background: rgba(0,0,0,.005)

	.text
		font-size: 26px
		padding: 50px 80px
		font-family: 'Mada', sans-serif
		font-weight: 400
		color: #ffffff
		letter-spacing: 0.03rem
		line-height: 2.2rem
	


.img-cover
	height: 500px
	width: 80%
	background: linear-gradient(to right, rgba(72,87,102,0.65) 0%,rgba(31,37,44,0) 57%,rgba(0,0,0,0) 100%)
	
	
	//linear-gradient(to right, rgba(122,142,162,0.65) 0%,rgba(49,57,65,0) 60%,rgba(0,0,0,0) 100%)



.my-img
	height: 500px
	width: 85%
	margin: 0 auto
	background: url('../images/me.png') 
	background-size: cover


//circle
//		width: 12px
//		height: 12px
//		background: none
//		border-radius: 50px
//		border: 1px solid #000000












