include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
	head(lang="en")
		include pug/metatags.pug
		+title('Nikita Kalachev')
		include pug/styles.pug
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Kalam:400,700" rel="stylesheet")
		
	body
		include pug/svg.pug
		.mobilisf
			.wrap
				.wrapper
					.wrapper__space
						#particles-js
					.wrapper__gradient
					.wrapper__ground
					.wrapper__header 
						.header-upper
							.header-upper__logo
								.header-upper__logo-name Mobilis 
								.header-upper__logo-brackets F
							.header-upper__company
								a(href="//www.simtechdev.com/") Simtech Development
						.header-welcome
							p
								span.tw-span
									span.tw-content About how hightech
									span.tw-caret#tw-caret
							.tw-header
								h1.tw-header-title helps in learning English



			.wrap
				.wrapper-
				.progress
					.progress-
					.progress-
					.progress-
					.progress-
					.progress-
			.wrap
				.plans
					.plans-
					.plans-
					.plans-
					.plans-
					.plans-
			.wrap
				.profiles
					.profiles-
					.profiles-
					.profiles-
					.profiles-
					.profiles-
			.wrap
				.contacts
					.contacts-
					.contacts-
					.contacts-
					.contacts-
					.contacts-
			

		include pug/scripts.pug
