include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
	head(lang="en")
		include pug/metatags.pug
		+title('Nikita Kalachev')
		include pug/styles.pug
		link(href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet")
		
	body
		include pug/svg.pug
		.mobilisf
			.wrap
				.wrapper
					.wrapper__space
						#particles-js
					.wrapper__gradient
					.wrapper__ground
					.wrapper__header 
						// Посмотреть ux дизайн 
						.header-upper
							.header-upper__name Mobilis
								span.header-upper__brackets F
							.header-upper__lang Language
							.header-upper__menu Menu
								ul.navbar
						.header-subtitle
							h2 Welcome to my digital home, I'm Nikita.
						.header-title 
							h1 Junior Frontend Developer
						.header-
						.header-
			.wrap
				.about
					#particles-js
					.about-
					.about-
					.about-
					.about-
					.about-
			.wrap
				.skills
					.skills-
					.skills-
					.skills-
					.skills-
					.skills-
			.wrap
				.progress
					.progress-
					.progress-
					.progress-
					.progress-
					.progress-
			.wrap
				.plans
					.plans-
					.plans-
					.plans-
					.plans-
					.plans-
			.wrap
				.profiles
					.profiles-
					.profiles-
					.profiles-
					.profiles-
					.profiles-
			.wrap
				.contacts
					.contacts-
					.contacts-
					.contacts-
					.contacts-
					.contacts-
			

		include pug/scripts.pug
