include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
	head(lang="en")
		include pug/metatags.pug
		+title('Nikita Kalachev')
		include pug/styles.pug
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Kalam:400,700" rel="stylesheet")
		
	body
		include pug/svg.pug
		.mobilisf
			.wrap
				.wrapper
					.wrapper__space
						#particles-js
					.wrapper__gradient
					.wrapper__ground
					.wrapper__header 
						.header-upper
							.header-upper__logo
								.header-upper__logo-name Mobilis 
								.header-upper__logo-brackets F
							.header-upper__lang Language
							.header-upper__menu
								.menu-about
									a(href="") about me
								.menu-tools 
									a(href="") tools
								.menu-contact
									a(href="") contact
						.header-subtitle
							p Welcome to my digital home, I'm Nikita.
						.header-title 
							p Junior Frontend Developer
						.header-
						.header-
			.wrap
				.about
					#particles-js
					.about-
					.about-
					.about-
					.about-
					.about-
			.wrap
				.skills
					.skills-
					.skills-
					.skills-
					.skills-
					.skills-
			.wrap
				.progress
					.progress-
					.progress-
					.progress-
					.progress-
					.progress-
			.wrap
				.plans
					.plans-
					.plans-
					.plans-
					.plans-
					.plans-
			.wrap
				.profiles
					.profiles-
					.profiles-
					.profiles-
					.profiles-
					.profiles-
			.wrap
				.contacts
					.contacts-
					.contacts-
					.contacts-
					.contacts-
					.contacts-
			

		include pug/scripts.pug
