include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
	head(lang="en")
		include pug/metatags.pug
		+title('Nikita Kalachev')
		include pug/styles.pug
		link(href="https://fonts.googleapis.com/css?family=Roboto:500,900", rel="stylesheet")

	body
		include pug/svg.pug
		
		.mobilisf
			.wrap
				.wrapper
					.wrapper__space
						#particles-js
						.count-particles
							span.js-count-particles --
					.wrapper__gradient
					.wrapper__ground
					
						.header 
							// Посмотреть ux дизайн 
							.header-upper
								.header-upper__name MobilisF
								.header-upper__lang
								.header-upper__menu
							.header-subtitle
								h2 Welcome to my digital home, I'm Nikita.
							.header-title 
								h1 Junior Frontend Developer
							.header-
							.header-
			.wrap
				.about
					.about-
					.about-
					.about-
					.about-
					.about-
			.wrap
				.skills
					.skills-
					.skills-
					.skills-
					.skills-
					.skills-
			.wrap
				.progress
					.progress-
					.progress-
					.progress-
					.progress-
					.progress-
			.wrap
				.plans
					.plans-
					.plans-
					.plans-
					.plans-
					.plans-
			.wrap
				.profiles
					.profiles-
					.profiles-
					.profiles-
					.profiles-
					.profiles-
			.wrap
				.contacts
					.contacts-
					.contacts-
					.contacts-
					.contacts-
					.contacts-
			

		include pug/scripts.pug
