include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
	head(lang="en")
		include pug/metatags.pug
		+title('Nikita Kalachev')
		include pug/styles.pug
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Kalam:400,700" rel="stylesheet")
		
	body
		include pug/svg.pug
		.mobilisf
			.wrap
				.wrapper
					.wrapper__space
						#particles-js
					.wrapper__gradient
					.wrapper__ground
					.wrapper__header 
						.header-upper
							.header-upper__logo
								.header-upper__logo-name Mobilis 
								.header-upper__logo-brackets F
							//.header-upper__lang Language
							.header-upper__menu
								//.menu-about
									a(href="") about me
								//.menu-tools 
									a(href="") tools
								.menu-contact
									a(href="") contact
						.header-welcome
							p
								span.tw-span
									span.tw-content Welcome to my home page, I'm Nikita.
									span.tw-caret#tw-caret
							.tw-header
								h1.tw-header-title Junior Frontend Developer

			.wrap
				.wrapper
					.wrapper-color
						.about
							.about-logo
								.left-line
									.left-line__triangle
								i.fa.fa-grav.fa-4x
								.right-line
									.right-line__triangle
							.about-subtitle
								p A few words
							.about-title
								p About me
							.about-content
								.box-img
									.my-img
										.img-cover
											
								.text-box
									p.text Hello, my name is Nikita Kalachev. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.wrap
				.wrapper-skills
					.skills
						.skills-header
							.skills-header__one 
								p Here are some of
							.skills-header__two my hard
							.skills-header__three skills
						.skills-content
							p.skills-content__header Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.skills-html
						.skills-css
						.skills-js
			.wrap
				.wrapper-
				.progress
					.progress-
					.progress-
					.progress-
					.progress-
					.progress-
			.wrap
				.plans
					.plans-
					.plans-
					.plans-
					.plans-
					.plans-
			.wrap
				.profiles
					.profiles-
					.profiles-
					.profiles-
					.profiles-
					.profiles-
			.wrap
				.contacts
					.contacts-
					.contacts-
					.contacts-
					.contacts-
					.contacts-
			

		include pug/scripts.pug
